._switcher_1ncdk_1 {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  position: relative;
  z-index: 5;
  overflow: hidden;
  cursor: pointer;
}
._switcher_1ncdk_1 > div {
  width: 150px;
  height: 30px;
}
._switcher_1ncdk_1 > div > div {
  width: 75px;
  height: 30px;
}
._switcher_1ncdk_1 > div > div > span {
  height: 30px;
  line-height: 30px;
}
._switcher_1ncdk_1 > div > div > span:first-child {
  font-size: 15px;
  padding-top: 1px;
}
._switcher_1ncdk_1 > div > div > span:nth-child(2) {
  font-size: 25px;
}
._switcher_1ncdk_1 > div > div:first-child > span:first-child {
  left: 15px;
  top: 0;
}
._switcher_1ncdk_1 > div > div:first-child > span:nth-child(2) {
  right: 5px;
  top: 0;
}
._switcher_1ncdk_1 > div > div:nth-child(2) > span:first-child {
  right: 15px;
  top: 0;
}
._switcher_1ncdk_1 > div > div:nth-child(2) > span:nth-child(2) {
  left: 5px;
  top: 0;
}
._switcher_1ncdk_1 > div {
  background-color: #2c3e50;
}
._switcher_1ncdk_1 > div > div:first-child {
  background-color: #2c3e50;
}
._switcher_1ncdk_1 > div > div:first-child > span:first-child {
  color: #1abc9c;
}
._switcher_1ncdk_1 > div > div:first-child > span:nth-child(2) {
  color: #1abc9c;
}
._switcher_1ncdk_1 > div > div:nth-child(2) {
  background-color: #bdc3c7;
}
._switcher_1ncdk_1 > div > div:nth-child(2) > span:first-child {
  color: white;
}
._switcher_1ncdk_1 > div > div:nth-child(2) > span:nth-child(2) {
  color: #7f8c8d;
}
._switcher_1ncdk_1 ._container_1ncdk_66 {
  -webkit-transition: -webkit-transform .15s linear;
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear, -webkit-transform .15s linear;
}
._switcher_1ncdk_1 ._container_1ncdk_66._on_1ncdk_69 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
._switcher_1ncdk_1 ._container_1ncdk_66._off_1ncdk_72 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
._switcher_1ncdk_1 ._container_1ncdk_66 ._on_1ncdk_69,
._switcher_1ncdk_1 ._container_1ncdk_66 ._off_1ncdk_72 {
  float: left;
  position: relative;
}
._switcher_1ncdk_1 ._container_1ncdk_66 ._on_1ncdk_69 ._icon_1ncdk_80,
._switcher_1ncdk_1 ._container_1ncdk_66 ._off_1ncdk_72 ._icon_1ncdk_80,
._switcher_1ncdk_1 ._container_1ncdk_66 ._on_1ncdk_69 ._text_1ncdk_82,
._switcher_1ncdk_1 ._container_1ncdk_66 ._off_1ncdk_72 ._text_1ncdk_82 {
  display: inline-block;
  position: absolute;
}
._switcher_1ncdk_1 ._container_1ncdk_66 ._off_1ncdk_72 ._text_1ncdk_82 {
  color: white;
}
._switcher_1ncdk_1 ._container_1ncdk_66 br {
  display: block;
  height: 0;
  clear: both;
}
