.kf-panel {
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
}
.kf-panel > .kf-panel-head {
  font-size: 19px;
  padding: 6px 6px;
  background-color: #bdc3c7;
  font-weight: bold;
}
.kf-panel > .kf-panel-body {
  padding: 6px 12px;
}
.kf-panel.kf-primary > .kf-panel-head {
  background-color: #3c8dbc;
  color: white;
}
.kf-panel.kf-accent > .kf-panel-head {
  background-color: #e74c3c;
  color: white;
}
.kf-panel.kf-gray > .kf-panel-head {
  background-color: #bdc3c7;
  color: white;
}
.kf-panel.kf-dark > .kf-panel-head {
  background-color: #34495e;
  color: white;
}
.kf-panel.kf-light > .kf-panel-head {
  background-color: #ecf0f1;
  color: white;
}
.kf-panel.kf-xs {
  border-radius: 3px;
  font-size: 12px;
}
.kf-panel.kf-xs > .kf-panel-head {
  font-size: 17px;
  padding: 3px 2.5px;
}
.kf-panel.kf-xs .kf-panel-body {
  padding: 3px 5px;
}
.kf-panel.kf-sm {
  border-radius: 3px;
  font-size: 12px;
}
.kf-panel.kf-sm > .kf-panel-head {
  font-size: 17px;
  padding: 5px 5px;
}
.kf-panel.kf-sm .kf-panel-body {
  padding: 5px 10px;
}
.kf-panel.kf-md {
  border-radius: 4px;
  font-size: 14px;
}
.kf-panel.kf-md > .kf-panel-head {
  font-size: 19px;
  padding: 6px 6px;
}
.kf-panel.kf-md .kf-panel-body {
  padding: 6px 12px;
}
.kf-panel.kf-lg {
  border-radius: 6px;
  font-size: 16px;
}
.kf-panel.kf-lg > .kf-panel-head {
  font-size: 21px;
  padding: 10px 8px;
}
.kf-panel.kf-lg .kf-panel-body {
  padding: 10px 16px;
}
