.kf-form > .kf-control > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.kf-form > .kf-control > *:first-child > .kf-asterisk {
  margin-left: 2px;
  color: #e74c3c;
}
.kf-form > .kf-control > *:last-child {
  position: relative;
}
