._rdgrp_1msnt_1 {
  display: inline-block;
}
._rdgrp_1msnt_1 > span {
  display: inline-block;
  position: relative;
}
._rdgrp_1msnt_1 > span > input[type=radio] {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  z-index: 1;
  margin: 0;
}
._rdgrp_1msnt_1 > span > span,
._rdgrp_1msnt_1 > span > i {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}
._rdgrp_1msnt_1 > span > i {
  color: transparent;
}
.kf-radio-group > span > input[type=radio]:checked + i {
  color: #34495e;
}
.kf-radio-group > span > input[type=radio]:checked ~ span {
  color: transparent;
}
.kf-radio-group > span > span {
  color: #bdc3c7;
}
.kf-radio-group > span {
  margin: 6px 12px;
}
.kf-radio-group > span:first-child {
  margin-left: 0;
}
.kf-radio-group > span:last-child {
  margin-right: 0;
}
.kf-radio-group > span > input[type=radio] {
  width: 14px;
  height: 14px;
}
.kf-radio-group > span > i {
  font-size: 14px;
}
.kf-radio-group > span > span {
  font-size: 14px;
}
.kf-radio-group > span > label {
  margin-left: 16px;
  font-size: 14px;
}
.kf-radio-group.kf-primary > span > input[type=radio]:checked + i {
  color: #30c9e8;
}
.kf-radio-group.kf-primary > span > input[type=radio]:checked ~ span {
  color: transparent;
}
.kf-radio-group.kf-primary > span > span {
  color: #bdc3c7;
}
.kf-radio-group.kf-accent > span > input[type=radio]:checked + i {
  color: #e74c3c;
}
.kf-radio-group.kf-accent > span > input[type=radio]:checked ~ span {
  color: transparent;
}
.kf-radio-group.kf-accent > span > span {
  color: #bdc3c7;
}
.kf-radio-group.kf-gray > span > input[type=radio]:checked + i {
  color: #bdc3c7;
}
.kf-radio-group.kf-gray > span > input[type=radio]:checked ~ span {
  color: transparent;
}
.kf-radio-group.kf-gray > span > span {
  color: #bdc3c7;
}
.kf-radio-group.kf-dark > span > input[type=radio]:checked + i {
  color: #34495e;
}
.kf-radio-group.kf-dark > span > input[type=radio]:checked ~ span {
  color: transparent;
}
.kf-radio-group.kf-dark > span > span {
  color: #bdc3c7;
}
.kf-radio-group.kf-light > span > input[type=radio]:checked + i {
  color: #ecf0f1;
}
.kf-radio-group.kf-light > span > input[type=radio]:checked ~ span {
  color: transparent;
}
.kf-radio-group.kf-light > span > span {
  color: #bdc3c7;
}
.kf-radio-group.kf-xs > span {
  margin: 3px 5px;
}
.kf-radio-group.kf-xs > span:first-child {
  margin-left: 0;
}
.kf-radio-group.kf-xs > span:last-child {
  margin-right: 0;
}
.kf-radio-group.kf-xs > span > input[type=radio] {
  width: 12px;
  height: 12px;
}
.kf-radio-group.kf-xs > span > i {
  font-size: 12px;
}
.kf-radio-group.kf-xs > span > span {
  font-size: 12px;
}
.kf-radio-group.kf-xs > span > label {
  margin-left: 14px;
  font-size: 12px;
}
.kf-radio-group.kf-sm > span {
  margin: 5px 10px;
}
.kf-radio-group.kf-sm > span:first-child {
  margin-left: 0;
}
.kf-radio-group.kf-sm > span:last-child {
  margin-right: 0;
}
.kf-radio-group.kf-sm > span > input[type=radio] {
  width: 12px;
  height: 12px;
}
.kf-radio-group.kf-sm > span > i {
  font-size: 12px;
}
.kf-radio-group.kf-sm > span > span {
  font-size: 12px;
}
.kf-radio-group.kf-sm > span > label {
  margin-left: 14px;
  font-size: 12px;
}
.kf-radio-group.kf-md > span {
  margin: 6px 12px;
}
.kf-radio-group.kf-md > span:first-child {
  margin-left: 0;
}
.kf-radio-group.kf-md > span:last-child {
  margin-right: 0;
}
.kf-radio-group.kf-md > span > input[type=radio] {
  width: 14px;
  height: 14px;
}
.kf-radio-group.kf-md > span > i {
  font-size: 14px;
}
.kf-radio-group.kf-md > span > span {
  font-size: 14px;
}
.kf-radio-group.kf-md > span > label {
  margin-left: 16px;
  font-size: 14px;
}
.kf-radio-group.kf-lg > span {
  margin: 10px 16px;
}
.kf-radio-group.kf-lg > span:first-child {
  margin-left: 0;
}
.kf-radio-group.kf-lg > span:last-child {
  margin-right: 0;
}
.kf-radio-group.kf-lg > span > input[type=radio] {
  width: 16px;
  height: 16px;
}
.kf-radio-group.kf-lg > span > i {
  font-size: 16px;
}
.kf-radio-group.kf-lg > span > span {
  font-size: 16px;
}
.kf-radio-group.kf-lg > span > label {
  margin-left: 18px;
  font-size: 16px;
}
