._menu_1ylqq_1 > li {
  position: relative;
  padding: 8px;
}
._menu_1ylqq_1 > li > a {
  display: block;
  text-decoration: none;
}
._menu_1ylqq_1 > li > a[kf-menu-link] {
  cursor: pointer;
}
._menu_1ylqq_1 > li._submenu_1ylqq_12 {
  position: relative;
}
._menu_1ylqq_1 > li._submenu_1ylqq_12:hover > div {
  visibility: visible;
  opacity: 1;
  right: -6px;
}
._menu_1ylqq_1 > li._submenu_1ylqq_12 > div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
._menu_1ylqq_1 > li._submenu_1ylqq_12:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
._menu_1ylqq_1 > li._submenu_1ylqq_12 > ul {
  z-index: 2016;
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  border-left: 6px solid transparent;
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.kf-menu li {
  background-color: #34495e;
  color: white;
  border-bottom: 1px solid #4f6f8f;
}
.kf-menu li:first-child {
  border-top: 1px solid #4f6f8f;
}
.kf-menu li > div {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #34495e;
  border-width: 4px 4px 4px 0;
}
.kf-menu li:hover > a,
.kf-menu li[kf-menu-active] > a {
  background-color: #4f6f8f;
}
.kf-menu li > a {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}
.kf-menu.kf-xs li > a {
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.kf-menu.kf-sm li > a {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.kf-menu.kf-md li > a {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}
.kf-menu.kf-lg li > a {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
}
.kf-menu.kf-primary li {
  background-color: #30c9e8;
  color: white;
  border-bottom: 1px solid #75dbf0;
}
.kf-menu.kf-primary li:first-child {
  border-top: 1px solid #75dbf0;
}
.kf-menu.kf-primary li > div {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #30c9e8;
  border-width: 4px 4px 4px 0;
}
.kf-menu.kf-primary li:hover > a,
.kf-menu.kf-primary li[kf-menu-active] > a {
  background-color: #75dbf0;
}
.kf-menu.kf-accent li {
  background-color: #e74c3c;
  color: white;
  border-bottom: 1px solid #ef8b80;
}
.kf-menu.kf-accent li:first-child {
  border-top: 1px solid #ef8b80;
}
.kf-menu.kf-accent li > div {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #e74c3c;
  border-width: 4px 4px 4px 0;
}
.kf-menu.kf-accent li:hover > a,
.kf-menu.kf-accent li[kf-menu-active] > a {
  background-color: #ef8b80;
}
.kf-menu.kf-gray li {
  background-color: #bdc3c7;
  color: white;
  border-bottom: 1px solid #e6e9ea;
}
.kf-menu.kf-gray li:first-child {
  border-top: 1px solid #e6e9ea;
}
.kf-menu.kf-gray li > div {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #bdc3c7;
  border-width: 4px 4px 4px 0;
}
.kf-menu.kf-gray li:hover > a,
.kf-menu.kf-gray li[kf-menu-active] > a {
  background-color: #e6e9ea;
}
.kf-menu.kf-dark li {
  background-color: #34495e;
  color: white;
  border-bottom: 1px solid #4f6f8f;
}
.kf-menu.kf-dark li:first-child {
  border-top: 1px solid #4f6f8f;
}
.kf-menu.kf-dark li > div {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #34495e;
  border-width: 4px 4px 4px 0;
}
.kf-menu.kf-dark li:hover > a,
.kf-menu.kf-dark li[kf-menu-active] > a {
  background-color: #4f6f8f;
}
.kf-menu.kf-light li {
  background-color: #ecf0f1;
  border-bottom: 1px solid #ffffff;
}
.kf-menu.kf-light li:first-child {
  border-top: 1px solid #ffffff;
}
.kf-menu.kf-light li > div {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #ecf0f1;
  border-width: 4px 4px 4px 0;
}
.kf-menu.kf-light li:hover > a,
.kf-menu.kf-light li[kf-menu-active] > a {
  background-color: #ffffff;
}
