/**
  default是一个用户提供的名字,定义该mixin时生成.
  @dir有horizontal和vertical两个值
  @pos有first middle和last三个值
  @dir和@pos是我在调用该mixin时传入
    horizontal表示当前的菜单项位于一个水平菜单中
    vertical表示当前菜单项位于一个竖向菜单中
    first表示当前菜单项是第一个菜单项
    middle表示当前菜单项是中间的某个菜单
    last表示当前菜单项是最后一个菜单项
*/
/**
  @dir: 水平菜单或竖直菜单
  @pos: 菜单是页面靠左还是靠右
  @triangleSize: 小尖角的大小
  @triangleColor: 小尖角的颜色
  @itemStyle: 用户通过.kf-menu-item自行定义的菜单内容的样式,譬如上面的default
*/
._menu_fsxhz_19 {
  list-style: none;
  margin: 0;
  padding: 0;
}
._menu_fsxhz_19 > li {
  position: relative;
}
._menu_fsxhz_19 > li[kf-submenu] {
  position: relative;
}
._menu_fsxhz_19 > li[kf-submenu]:hover > div:nth-child(2) {
  visibility: visible;
  opacity: 1;
}
._menu_fsxhz_19 > li[kf-submenu] > div:nth-child(2) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
._menu_fsxhz_19 > li[kf-submenu]:hover > ul {
  visibility: visible;
  opacity: 1;
}
._menu_fsxhz_19 > li[kf-submenu] > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
