@import (reference) '../base';
@import (reference) '../slide/slide';

.date {
  .monthWrapper {
    position: relative;
    width: 120px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;

    .left, .right {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 1;
      &:hover {
        cursor: url() default;
      }

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }

    .month {
      width: 50px;
      height: 100%;
      margin: 0 auto;
      .kf-circle-slide(12, kfMonthSlideItem);

      .kf-slide-item(kfMonthSlideItem, @i) {
        line-height: 30px;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
