@import (reference) '../base';
@import (reference) '../slide/slide';

.date {
  .year, .month {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    overflow: hidden;

    .left, .right {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: 1;
      &.right:hover {
        cursor: e-resize;
      }
      &.left:hover {
        cursor: w-resize;
      }

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }

    .slide {
      margin: 0 auto;

      .el {
        height: 100%;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .year {
    width: 70px;

    .slide {
      .kf-circle-slide(60px, 100%);
    }
  }
  .month {
    width: 50px;

    .slide {
      .kf-circle-slide(40px, 100%);
    }
  }
}
