._tabs_tht14_1 > ul > li {
  cursor: pointer;
  white-space: nowrap;
  background-color: white;
}
._tabs_tht14_1 > ul > li[kf-tab-active] {
  position: relative;
}
.kf-tab > ul {
  background-color: white;
  border-bottom: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}
.kf-tab > ul > li[kf-tab-active] {
  border: 1px solid #bdc3c7;
}
.kf-tab > ul > li {
  padding: 6px 12px;
  font-size: 14px;
}
.kf-tab > ul > li[kf-tab-active] {
  border-radius: 4px;
}
.kf-tab:not(.kf-vertical) > ul {
  border-right: none !important;
  text-align: left;
}
.kf-tab:not(.kf-vertical) > ul > li {
  display: inline-block;
}
.kf-tab:not(.kf-vertical) > ul > li[kf-tab-active] {
  border-bottom: white !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  top: 1px;
}
.kf-tab.kf-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kf-tab.kf-vertical > ul {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-bottom: none !important;
}
.kf-tab.kf-vertical > ul > li {
  text-align: right;
}
.kf-tab.kf-vertical > ul > li[kf-tab-active] {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  left: 1px;
}
.kf-tab.kf-vertical > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.kf-tab.kf-primary > ul {
  background-color: white;
  border-bottom: 1px solid #30c9e8;
  border-right: 1px solid #30c9e8;
}
.kf-tab.kf-primary > ul > li[kf-tab-active] {
  border: 1px solid #30c9e8;
}
.kf-tab.kf-accent > ul {
  background-color: white;
  border-bottom: 1px solid #e74c3c;
  border-right: 1px solid #e74c3c;
}
.kf-tab.kf-accent > ul > li[kf-tab-active] {
  border: 1px solid #e74c3c;
}
.kf-tab.kf-gray > ul {
  background-color: white;
  border-bottom: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}
.kf-tab.kf-gray > ul > li[kf-tab-active] {
  border: 1px solid #bdc3c7;
}
.kf-tab.kf-dark > ul {
  background-color: white;
  border-bottom: 1px solid #34495e;
  border-right: 1px solid #34495e;
}
.kf-tab.kf-dark > ul > li[kf-tab-active] {
  border: 1px solid #34495e;
}
.kf-tab.kf-light > ul {
  background-color: white;
  border-bottom: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
}
.kf-tab.kf-light > ul > li[kf-tab-active] {
  border: 1px solid #ecf0f1;
}
.kf-tab.kf-xs > ul > li {
  padding: 3px 5px;
  font-size: 12px;
}
.kf-tab.kf-xs > ul > li[kf-tab-active] {
  border-radius: 3px;
}
.kf-tab.kf-sm > ul > li {
  padding: 5px 10px;
  font-size: 12px;
}
.kf-tab.kf-sm > ul > li[kf-tab-active] {
  border-radius: 3px;
}
.kf-tab.kf-md > ul > li {
  padding: 6px 12px;
  font-size: 14px;
}
.kf-tab.kf-md > ul > li[kf-tab-active] {
  border-radius: 4px;
}
.kf-tab.kf-lg > ul > li {
  padding: 10px 16px;
  font-size: 16px;
}
.kf-tab.kf-lg > ul > li[kf-tab-active] {
  border-radius: 6px;
}
