._autoinput_1dwts_1 {
  position: relative;
}
._autoinput_1dwts_1 ._bg_1dwts_4 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
._autoinput_1dwts_1 ._list_1dwts_12._visible_1dwts_12 {
  visibility: visible;
  opacity: 1;
}
._autoinput_1dwts_1 ._list_1dwts_12 {
  overflow-y: overlay;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 2px;
  box-shadow: 2px 2px #ecf0f1;
  background: #fff;
  z-index: 2016;
  border: 1px solid #ecf0f1;
  color: #34495e;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s linear, visibility .2s linear;
  transition: opacity .2s linear, visibility .2s linear;
}
._autoinput_1dwts_1 ._list_1dwts_12 li span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.kf-autoinput,
.kf-input-group > .kf-autoinput {
  border: 1px solid #34495e;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  border-color: #bdc3c7;
}
.kf-autoinput > ul > li > span:hover,
.kf-input-group > .kf-autoinput > ul > li > span:hover {
  background-color: #34495e;
  color: #fff;
}
.kf-autoinput > ul > li > span.active,
.kf-input-group > .kf-autoinput > ul > li > span.active {
  background-color: #34495e;
  color: #fff;
}
.kf-autoinput > ul,
.kf-input-group > .kf-autoinput > ul {
  max-height: 320px;
  padding-bottom: 6px;
}
.kf-autoinput > ul > li,
.kf-input-group > .kf-autoinput > ul > li {
  padding: 6px 12px 0;
}
.kf-autoinput > ul > li > span,
.kf-input-group > .kf-autoinput > ul > li > span {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
}
.kf-autoinput.kf-primary,
.kf-input-group > .kf-autoinput.kf-primary {
  border: 1px solid #3c8dbc;
}
.kf-autoinput.kf-primary > ul > li > span:hover,
.kf-input-group > .kf-autoinput.kf-primary > ul > li > span:hover {
  background-color: #3c8dbc;
  color: #fff;
}
.kf-autoinput.kf-primary > ul > li > span.active,
.kf-input-group > .kf-autoinput.kf-primary > ul > li > span.active {
  background-color: #3c8dbc;
  color: #fff;
}
.kf-autoinput.kf-accent,
.kf-input-group > .kf-autoinput.kf-accent {
  border: 1px solid #e74c3c;
}
.kf-autoinput.kf-accent > ul > li > span:hover,
.kf-input-group > .kf-autoinput.kf-accent > ul > li > span:hover {
  background-color: #e74c3c;
  color: #fff;
}
.kf-autoinput.kf-accent > ul > li > span.active,
.kf-input-group > .kf-autoinput.kf-accent > ul > li > span.active {
  background-color: #e74c3c;
  color: #fff;
}
.kf-autoinput.kf-gray,
.kf-input-group > .kf-autoinput.kf-gray {
  border: 1px solid #bdc3c7;
}
.kf-autoinput.kf-gray > ul > li > span:hover,
.kf-input-group > .kf-autoinput.kf-gray > ul > li > span:hover {
  background-color: #bdc3c7;
  color: #fff;
}
.kf-autoinput.kf-gray > ul > li > span.active,
.kf-input-group > .kf-autoinput.kf-gray > ul > li > span.active {
  background-color: #bdc3c7;
  color: #fff;
}
.kf-autoinput.kf-dark,
.kf-input-group > .kf-autoinput.kf-dark {
  border: 1px solid #34495e;
}
.kf-autoinput.kf-dark > ul > li > span:hover,
.kf-input-group > .kf-autoinput.kf-dark > ul > li > span:hover {
  background-color: #34495e;
  color: #fff;
}
.kf-autoinput.kf-dark > ul > li > span.active,
.kf-input-group > .kf-autoinput.kf-dark > ul > li > span.active {
  background-color: #34495e;
  color: #fff;
}
.kf-autoinput.kf-light,
.kf-input-group > .kf-autoinput.kf-light {
  border: 1px solid #ecf0f1;
}
.kf-autoinput.kf-light > ul > li > span:hover,
.kf-input-group > .kf-autoinput.kf-light > ul > li > span:hover {
  background-color: #ecf0f1;
  color: #fff;
}
.kf-autoinput.kf-light > ul > li > span.active,
.kf-input-group > .kf-autoinput.kf-light > ul > li > span.active {
  background-color: #ecf0f1;
  color: #fff;
}
.kf-autoinput.kf-xs,
.kf-input-group > .kf-autoinput.kf-xs {
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 12px;
}
.kf-autoinput.kf-xs > ul,
.kf-input-group > .kf-autoinput.kf-xs > ul {
  max-height: 210px;
  padding-bottom: 3px;
}
.kf-autoinput.kf-xs > ul > li,
.kf-input-group > .kf-autoinput.kf-xs > ul > li {
  padding: 3px 5px 0;
}
.kf-autoinput.kf-xs > ul > li > span,
.kf-input-group > .kf-autoinput.kf-xs > ul > li > span {
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 3px;
}
.kf-autoinput.kf-sm,
.kf-input-group > .kf-autoinput.kf-sm {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}
.kf-autoinput.kf-sm > ul,
.kf-input-group > .kf-autoinput.kf-sm > ul {
  max-height: 270px;
  padding-bottom: 5px;
}
.kf-autoinput.kf-sm > ul > li,
.kf-input-group > .kf-autoinput.kf-sm > ul > li {
  padding: 5px 10px 0;
}
.kf-autoinput.kf-sm > ul > li > span,
.kf-input-group > .kf-autoinput.kf-sm > ul > li > span {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
}
.kf-autoinput.kf-md,
.kf-input-group > .kf-autoinput.kf-md {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
}
.kf-autoinput.kf-md > ul,
.kf-input-group > .kf-autoinput.kf-md > ul {
  max-height: 320px;
  padding-bottom: 6px;
}
.kf-autoinput.kf-md > ul > li,
.kf-input-group > .kf-autoinput.kf-md > ul > li {
  padding: 6px 12px 0;
}
.kf-autoinput.kf-md > ul > li > span,
.kf-input-group > .kf-autoinput.kf-md > ul > li > span {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
}
.kf-autoinput.kf-lg,
.kf-input-group > .kf-autoinput.kf-lg {
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 16px;
}
.kf-autoinput.kf-lg > ul,
.kf-input-group > .kf-autoinput.kf-lg > ul {
  max-height: 460px;
  padding-bottom: 10px;
}
.kf-autoinput.kf-lg > ul > li,
.kf-input-group > .kf-autoinput.kf-lg > ul > li {
  padding: 10px 16px 0;
}
.kf-autoinput.kf-lg > ul > li > span,
.kf-input-group > .kf-autoinput.kf-lg > ul > li > span {
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 6px;
}
