._tips_1uxx7_1 {
  position: fixed;
  top: 5.4vh;
  right: 10px;
  z-index: 1000;
}
._tips_1uxx7_1 ._tipItem_1uxx7_7 {
  position: relative;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  color: #fff;
  margin-bottom: 2px;
  border-radius: 5px;
}
._tips_1uxx7_1 ._tipItem_1uxx7_7 ._success_1uxx7_16 {
  padding: 0 25px 0 15px;
  background-color: #30c9e8;
}
._tips_1uxx7_1 ._tipItem_1uxx7_7 ._error_1uxx7_20 {
  padding: 0 25px 0 15px;
  background-color: #e74c3c;
}
._tips_1uxx7_1 ._tipItem_1uxx7_7 ._close_1uxx7_24 {
  position: absolute;
  right: 10px;
  top: 13px;
}
._tips_1uxx7_1 ._tipItem_1uxx7_7 i {
  margin-right: 4px;
}
._tips_1uxx7_1 ._tipItem_1uxx7_7 a {
  margin-left: 4px;
}
