._select_q3rwc_1 {
  position: relative;
  display: inline-block;
  padding-right: 15px !important;
}
._select_q3rwc_1 > input {
  cursor: pointer;
}
._select_q3rwc_1 > ._bg_q3rwc_9 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2015;
  opacity: 0;
}
._select_q3rwc_1 > i {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
._select_q3rwc_1 > ul._visible_q3rwc_25 {
  visibility: visible;
  opacity: 1;
}
._select_q3rwc_1 > ul {
  position: absolute;
  width: 100%;
  z-index: 2016;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  top: 100%;
  border: 1px solid #ecf0f1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s linear, visibility .2s linear;
  transition: opacity .2s linear, visibility .2s linear;
  color: #34495e;
}
._select_q3rwc_1 > ul._left_q3rwc_44._bottom_q3rwc_44 {
  box-shadow: 2px 2px #ecf0f1;
}
._select_q3rwc_1 > ul._left_q3rwc_44._top_q3rwc_47 {
  box-shadow: 2px -2px #ecf0f1;
}
._select_q3rwc_1 > ul._right_q3rwc_50._bottom_q3rwc_44 {
  box-shadow: -2px 2px #ecf0f1;
}
._select_q3rwc_1 > ul._right_q3rwc_50._top_q3rwc_47 {
  box-shadow: -2px -2px #ecf0f1;
}
._select_q3rwc_1 > ul._right_q3rwc_50 {
  right: 0;
  left: auto;
  box-shadow: inset;
}
._select_q3rwc_1 > ul._top_q3rwc_47 {
  bottom: 100%;
  top: auto;
  margin-bottom: 3px;
  margin-top: 0;
}
._select_q3rwc_1 > ul li:not(:last-child) {
  padding-bottom: 0 !important;
}
._select_q3rwc_1 > ul li > div {
  cursor: pointer;
}
.kf-select,
.kf-input-group > .kf-select {
  border: 1px solid #34495e;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border-color: #bdc3c7;
}
.kf-select > i,
.kf-input-group > .kf-select > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #34495e;
  border-width: 5px 5px 0;
}
.kf-select > ul,
.kf-input-group > .kf-select > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-select > ul > li[kf-selected] > div,
.kf-input-group > .kf-select > ul > li[kf-selected] > div {
  background-color: #34495e;
  color: white;
}
.kf-select > ul > li:hover > div,
.kf-input-group > .kf-select > ul > li:hover > div {
  background-color: #34495e;
  color: white;
}
.kf-select > ul > li,
.kf-input-group > .kf-select > ul > li {
  padding: 6px;
}
.kf-select > ul > li > div,
.kf-input-group > .kf-select > ul > li > div {
  padding: 6px 12px;
  border-radius: 4px;
}
.kf-select.kf-primary,
.kf-input-group.kf-primary > .kf-select:not(.kf-addon) {
  border: 1px solid #3c8dbc;
}
.kf-select.kf-primary > i,
.kf-input-group.kf-primary > .kf-select:not(.kf-addon) > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #3c8dbc;
  border-width: 5px 5px 0;
}
.kf-select.kf-primary > ul,
.kf-input-group.kf-primary > .kf-select:not(.kf-addon) > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-select.kf-primary > ul > li[kf-selected] > div,
.kf-input-group.kf-primary > .kf-select:not(.kf-addon) > ul > li[kf-selected] > div {
  background-color: #3c8dbc;
  color: white;
}
.kf-select.kf-primary > ul > li:hover > div,
.kf-input-group.kf-primary > .kf-select:not(.kf-addon) > ul > li:hover > div {
  background-color: #3c8dbc;
  color: white;
}
.kf-input-group.kf-primary > .kf-select.kf-addon {
  border: 1px solid #3c8dbc;
  background-color: #3c8dbc;
}
.kf-input-group.kf-primary > .kf-select.kf-addon input {
  color: white;
}
.kf-input-group.kf-primary > .kf-select.kf-addon > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: white;
  border-width: 5px 5px 0;
}
.kf-input-group.kf-primary > .kf-select.kf-addon > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-input-group.kf-primary > .kf-select.kf-addon > ul > li[kf-selected] > div {
  background-color: #3c8dbc;
  color: white;
}
.kf-input-group.kf-primary > .kf-select.kf-addon > ul > li:hover > div {
  background-color: #3c8dbc;
  color: white;
}
.kf-select.kf-accent,
.kf-input-group.kf-accent > .kf-select:not(.kf-addon) {
  border: 1px solid #e74c3c;
}
.kf-select.kf-accent > i,
.kf-input-group.kf-accent > .kf-select:not(.kf-addon) > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #e74c3c;
  border-width: 5px 5px 0;
}
.kf-select.kf-accent > ul,
.kf-input-group.kf-accent > .kf-select:not(.kf-addon) > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-select.kf-accent > ul > li[kf-selected] > div,
.kf-input-group.kf-accent > .kf-select:not(.kf-addon) > ul > li[kf-selected] > div {
  background-color: #e74c3c;
  color: white;
}
.kf-select.kf-accent > ul > li:hover > div,
.kf-input-group.kf-accent > .kf-select:not(.kf-addon) > ul > li:hover > div {
  background-color: #e74c3c;
  color: white;
}
.kf-input-group.kf-accent > .kf-select.kf-addon {
  border: 1px solid #e74c3c;
  background-color: #e74c3c;
}
.kf-input-group.kf-accent > .kf-select.kf-addon input {
  color: white;
}
.kf-input-group.kf-accent > .kf-select.kf-addon > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: white;
  border-width: 5px 5px 0;
}
.kf-input-group.kf-accent > .kf-select.kf-addon > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-input-group.kf-accent > .kf-select.kf-addon > ul > li[kf-selected] > div {
  background-color: #e74c3c;
  color: white;
}
.kf-input-group.kf-accent > .kf-select.kf-addon > ul > li:hover > div {
  background-color: #e74c3c;
  color: white;
}
.kf-select.kf-gray,
.kf-input-group.kf-gray > .kf-select:not(.kf-addon) {
  border: 1px solid #bdc3c7;
}
.kf-select.kf-gray > i,
.kf-input-group.kf-gray > .kf-select:not(.kf-addon) > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #bdc3c7;
  border-width: 5px 5px 0;
}
.kf-select.kf-gray > ul,
.kf-input-group.kf-gray > .kf-select:not(.kf-addon) > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-select.kf-gray > ul > li[kf-selected] > div,
.kf-input-group.kf-gray > .kf-select:not(.kf-addon) > ul > li[kf-selected] > div {
  background-color: #bdc3c7;
  color: white;
}
.kf-select.kf-gray > ul > li:hover > div,
.kf-input-group.kf-gray > .kf-select:not(.kf-addon) > ul > li:hover > div {
  background-color: #bdc3c7;
  color: white;
}
.kf-input-group.kf-gray > .kf-select.kf-addon {
  border: 1px solid #bdc3c7;
  background-color: #bdc3c7;
}
.kf-input-group.kf-gray > .kf-select.kf-addon input {
  color: white;
}
.kf-input-group.kf-gray > .kf-select.kf-addon > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: white;
  border-width: 5px 5px 0;
}
.kf-input-group.kf-gray > .kf-select.kf-addon > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-input-group.kf-gray > .kf-select.kf-addon > ul > li[kf-selected] > div {
  background-color: #bdc3c7;
  color: white;
}
.kf-input-group.kf-gray > .kf-select.kf-addon > ul > li:hover > div {
  background-color: #bdc3c7;
  color: white;
}
.kf-select.kf-dark,
.kf-input-group.kf-dark > .kf-select:not(.kf-addon) {
  border: 1px solid #34495e;
}
.kf-select.kf-dark > i,
.kf-input-group.kf-dark > .kf-select:not(.kf-addon) > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #34495e;
  border-width: 5px 5px 0;
}
.kf-select.kf-dark > ul,
.kf-input-group.kf-dark > .kf-select:not(.kf-addon) > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-select.kf-dark > ul > li[kf-selected] > div,
.kf-input-group.kf-dark > .kf-select:not(.kf-addon) > ul > li[kf-selected] > div {
  background-color: #34495e;
  color: white;
}
.kf-select.kf-dark > ul > li:hover > div,
.kf-input-group.kf-dark > .kf-select:not(.kf-addon) > ul > li:hover > div {
  background-color: #34495e;
  color: white;
}
.kf-input-group.kf-dark > .kf-select.kf-addon {
  border: 1px solid #34495e;
  background-color: #34495e;
}
.kf-input-group.kf-dark > .kf-select.kf-addon input {
  color: white;
}
.kf-input-group.kf-dark > .kf-select.kf-addon > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: white;
  border-width: 5px 5px 0;
}
.kf-input-group.kf-dark > .kf-select.kf-addon > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-input-group.kf-dark > .kf-select.kf-addon > ul > li[kf-selected] > div {
  background-color: #34495e;
  color: white;
}
.kf-input-group.kf-dark > .kf-select.kf-addon > ul > li:hover > div {
  background-color: #34495e;
  color: white;
}
.kf-select.kf-light,
.kf-input-group.kf-light > .kf-select:not(.kf-addon) {
  border: 1px solid #ecf0f1;
}
.kf-select.kf-light > i,
.kf-input-group.kf-light > .kf-select:not(.kf-addon) > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: #ecf0f1;
  border-width: 5px 5px 0;
}
.kf-select.kf-light > ul,
.kf-input-group.kf-light > .kf-select:not(.kf-addon) > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-select.kf-light > ul > li[kf-selected] > div,
.kf-input-group.kf-light > .kf-select:not(.kf-addon) > ul > li[kf-selected] > div {
  background-color: #ecf0f1;
  color: white;
}
.kf-select.kf-light > ul > li:hover > div,
.kf-input-group.kf-light > .kf-select:not(.kf-addon) > ul > li:hover > div {
  background-color: #ecf0f1;
  color: white;
}
.kf-input-group.kf-light > .kf-select.kf-addon {
  border: 1px solid #ecf0f1;
  background-color: #ecf0f1;
}
.kf-input-group.kf-light > .kf-select.kf-addon input {
  color: white;
}
.kf-input-group.kf-light > .kf-select.kf-addon > i {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-top-color: white;
  border-width: 5px 5px 0;
}
.kf-input-group.kf-light > .kf-select.kf-addon > ul {
  margin-top: 2px;
  background-color: white;
}
.kf-input-group.kf-light > .kf-select.kf-addon > ul > li[kf-selected] > div {
  background-color: #ecf0f1;
  color: white;
}
.kf-input-group.kf-light > .kf-select.kf-addon > ul > li:hover > div {
  background-color: #ecf0f1;
  color: white;
}
.kf-select.kf-xs,
.kf-input-group.kf-xs > .kf-select {
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.kf-select.kf-xs > ul > li,
.kf-input-group.kf-xs > .kf-select > ul > li {
  padding: 3px;
}
.kf-select.kf-xs > ul > li > div,
.kf-input-group.kf-xs > .kf-select > ul > li > div {
  padding: 3px 5px;
  border-radius: 3px;
}
.kf-select.kf-sm,
.kf-input-group.kf-sm > .kf-select {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.kf-select.kf-sm > ul > li,
.kf-input-group.kf-sm > .kf-select > ul > li {
  padding: 5px;
}
.kf-select.kf-sm > ul > li > div,
.kf-input-group.kf-sm > .kf-select > ul > li > div {
  padding: 5px 10px;
  border-radius: 3px;
}
.kf-select.kf-md,
.kf-input-group.kf-md > .kf-select {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}
.kf-select.kf-md > ul > li,
.kf-input-group.kf-md > .kf-select > ul > li {
  padding: 6px;
}
.kf-select.kf-md > ul > li > div,
.kf-input-group.kf-md > .kf-select > ul > li > div {
  padding: 6px 12px;
  border-radius: 4px;
}
.kf-select.kf-lg,
.kf-input-group.kf-lg > .kf-select {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
}
.kf-select.kf-lg > ul > li,
.kf-input-group.kf-lg > .kf-select > ul > li {
  padding: 8px;
}
.kf-select.kf-lg > ul > li > div,
.kf-input-group.kf-lg > .kf-select > ul > li > div {
  padding: 10px 16px;
  border-radius: 6px;
}
