@import (reference) '../../style/color';

.kf-select(@color, @inverse: false) {
  & when (@inverse = false) {
    border: 1px solid @color;

    > span {
      .kf-tip-arrow(down, @color, 5px);
    }
  }

  & when (@inverse = true) {
    background-color: @color;
    input {
      color: white;
    }

    > span {
      .kf-tip-arrow(down, white, 5px);
    }
  }

  > ul {
    margin-top: 2px;
    background-color: white;

    > li[kf-selected] > div {
      background-color: @color;
      color: white;
    }

    > li:hover > div {
      background-color: @color;
      color: white;
    }
  }
}

.select {
  position: relative;
  display: inline-block;
  padding-right: 10px;

  > .input {
    cursor: pointer;

    > input {
      background-color: transparent;
      appearance: none;
      font-size: inherit;
      border: none;
      outline: none;
      padding: 0;
      width: 100%;
    }
  }

  > .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2015;
    opacity: 0;
  }

  > span {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  > ul.visible {
    visibility: visible;
    opacity: 1;
  }

  > ul {
    position: absolute;
    width: 100%;
    z-index: 2016;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    top: 0;
    transform: translateX(10px) translateY(10px);
    box-shadow: 2px 2px @light;
    border: 1px solid @light;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s linear, visibility .2s linear;

    li {
      padding: 5px;
      > div {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 3px;
      }
    }
  }
}
