._tree_rmxkf_1 {
  margin: 0;
  padding: 0;
  list-style: none;
}
._tree_rmxkf_1:not(._subtree_rmxkf_6) > li > ._node_rmxkf_6 > ._hborder_rmxkf_6 {
  border: none !important;
}
._tree_rmxkf_1:not(._subtree_rmxkf_6) > li > ._subtreeWrapper_rmxkf_9 > ._overlap_rmxkf_9 {
  border: none !important;
}
._tree_rmxkf_1 li {
  position: relative;
}
._tree_rmxkf_1 li[kf-tree-node-dragging] > ._node_rmxkf_6 > div {
  box-shadow: 2px 2px 5px #bdc3c7;
}
._tree_rmxkf_1 li[kf-tree-node-dragover] > ._node_rmxkf_6 > div {
  box-shadow: 2px 2px 5px #bdc3c7;
}
._tree_rmxkf_1 li:last-child > ._node_rmxkf_6 > ._hborder_rmxkf_6 {
  height: 50%;
  border-left: 1px solid white;
}
._tree_rmxkf_1 li:last-child > ._subtreeWrapper_rmxkf_9 > ._overlap_rmxkf_9 {
  height: 100%;
  top: 0;
  border-left: 1px solid white;
}
._tree_rmxkf_1 li > ._node_rmxkf_6 {
  position: relative;
}
._tree_rmxkf_1 li > ._node_rmxkf_6 > ._hborder_rmxkf_6 {
  display: block;
  position: absolute;
  top: 50%;
  border-top: 1px solid #bdc3c7;
}
._tree_rmxkf_1 li > ._node_rmxkf_6 > i {
  cursor: pointer;
}
._tree_rmxkf_1 li > ._node_rmxkf_6 > div {
  display: inline-block;
}
._tree_rmxkf_1 li > ._subtreeWrapper_rmxkf_9 {
  position: relative;
}
._tree_rmxkf_1 li > ._subtreeWrapper_rmxkf_9 > ._vborder_rmxkf_48 {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  margin-top: -5px;
}
._tree_rmxkf_1 li > ._subtreeWrapper_rmxkf_9 > ._overlap_rmxkf_9 {
  display: block;
  position: absolute;
}
.kf-tree li > div:first-child > span {
  width: 9px;
  left: -12px;
}
.kf-tree li > div:first-child > span[kf-tree-hborder-long] {
  width: 15px;
}
.kf-tree li > div:first-child > i {
  font-size: 14px;
}
.kf-tree li > div:first-child > div {
  padding: 6px 6px;
  font-size: 14px;
}
.kf-tree li:last-child > div:nth-child(2) > span:nth-child(2) {
  left: -12px;
}
.kf-tree li > div:nth-child(2) {
  padding-left: 17.5px;
}
.kf-tree li > div:nth-child(2) > span:first-child {
  left: 5.5px;
  border-left: 1px solid #bdc3c7;
}
.kf-tree.kf-xs li > div:first-child > span {
  width: 2px;
  left: -5px;
}
.kf-tree.kf-xs li > div:first-child > span[kf-tree-hborder-long] {
  width: 8px;
}
.kf-tree.kf-xs li > div:first-child > i {
  font-size: 12px;
}
.kf-tree.kf-xs li > div:first-child > div {
  padding: 3px 2.5px;
  font-size: 12px;
}
.kf-tree.kf-xs li:last-child > div:nth-child(2) > span:nth-child(2) {
  left: -5px;
}
.kf-tree.kf-xs li > div:nth-child(2) {
  padding-left: 9.71px;
}
.kf-tree.kf-xs li > div:nth-child(2) > span:first-child {
  left: 4.71px;
  border-left: 1px solid #bdc3c7;
}
.kf-tree.kf-sm li > div:first-child > span {
  width: 7px;
  left: -10px;
}
.kf-tree.kf-sm li > div:first-child > span[kf-tree-hborder-long] {
  width: 13px;
}
.kf-tree.kf-sm li > div:first-child > i {
  font-size: 12px;
}
.kf-tree.kf-sm li > div:first-child > div {
  padding: 5px 5px;
  font-size: 12px;
}
.kf-tree.kf-sm li:last-child > div:nth-child(2) > span:nth-child(2) {
  left: -10px;
}
.kf-tree.kf-sm li > div:nth-child(2) {
  padding-left: 14.71px;
}
.kf-tree.kf-sm li > div:nth-child(2) > span:first-child {
  left: 4.71px;
  border-left: 1px solid #bdc3c7;
}
.kf-tree.kf-md li > div:first-child > span {
  width: 9px;
  left: -12px;
}
.kf-tree.kf-md li > div:first-child > span[kf-tree-hborder-long] {
  width: 15px;
}
.kf-tree.kf-md li > div:first-child > i {
  font-size: 14px;
}
.kf-tree.kf-md li > div:first-child > div {
  padding: 6px 6px;
  font-size: 14px;
}
.kf-tree.kf-md li:last-child > div:nth-child(2) > span:nth-child(2) {
  left: -12px;
}
.kf-tree.kf-md li > div:nth-child(2) {
  padding-left: 17.5px;
}
.kf-tree.kf-md li > div:nth-child(2) > span:first-child {
  left: 5.5px;
  border-left: 1px solid #bdc3c7;
}
.kf-tree.kf-lg li > div:first-child > span {
  width: 13px;
  left: -16px;
}
.kf-tree.kf-lg li > div:first-child > span[kf-tree-hborder-long] {
  width: 19px;
}
.kf-tree.kf-lg li > div:first-child > i {
  font-size: 16px;
}
.kf-tree.kf-lg li > div:first-child > div {
  padding: 10px 8px;
  font-size: 16px;
}
.kf-tree.kf-lg li:last-child > div:nth-child(2) > span:nth-child(2) {
  left: -16px;
}
.kf-tree.kf-lg li > div:nth-child(2) {
  padding-left: 22.28px;
}
.kf-tree.kf-lg li > div:nth-child(2) > span:first-child {
  left: 6.28px;
  border-left: 1px solid #bdc3c7;
}
