@import (reference) '../base';

.kf-slide-item(default, @i) {
}

.kf-circle-slide(@num, @itemStyle) {
  > div > * {
    .slide-tf(1);
  }

  .slide-tf(@i) when (@i < @num+1) {
    &:nth-child(@{i}) {
      .kf-slide-item(@itemStyle, @i);
    }

    .slide-tf(@i + 1);
  }
}

.circle {
  position: relative;
  perspective: 1000px;

  .container {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s linear;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    > * {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
  }
}
