@import '../../base';

/**
  @kf-comment-type  {LESS mixin}
  @kf-comment-name  {kf-checkbox}
  @kf-comment-how   {.kf-checkbox(@size, @color)}
  @kf-comment-what  {设置kf-checkbox组件的样式.
                     @size表示checkbox的大小
                     @color表示checked状态下checkbox的前景色}
*/
.kf-checkbox(@size, @color, @borderColor: @dgray) {
  & > input {
    width: @size;
    height: @size;

    &:checked + i {
      color: @color;
    }
  }

  & > i {
    font-size: @size;
  }

  & > span {
    color: @borderColor;
    font-size: @size + 2;
  }

  & > label {
    font-size: @size;
  }
}

.checkbox {
  display: inline-block;
  position: relative;

  > input[type=checkbox] {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    opacity: 0;
    z-index: 1;
  }

  > .box {
    background-color: white;
  }

  > .check {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: color .2s linear;
    color: transparent;
  }

  > label {
    margin-left: 5px;
  }
}

/**
  @kf-comment-type  {LESS mixin}
  @kf-comment-name  {kf-checkbox-group}
  @kf-comment-how   {.kf-checkbox-group(@size, @color, @itemGap)}
  @kf-comment-what  {设置kf-checkbox组件的样式.
                     @size表示checkbox的大小
                     @color表示checked状态下checkbox的前景色
                     @itemGap表示每个checkbox之间的间隔}
*/
.kf-checkbox-group(@size, @color, @gap, @borderColor: @dgray) {
  & > span {
    .kf-checkbox(@size, @color, @borderColor);
    margin-right: @gap;
  }
}

.ckbgrp {
  display: inline-block;
}
