._checkbox_1xyie_1 {
  display: inline-block;
  position: relative;
}
._checkbox_1xyie_1 > input[type=checkbox] {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  opacity: 0;
  z-index: 1;
}
._checkbox_1xyie_1 > ._box_1xyie_15 {
  background-color: white;
}
._checkbox_1xyie_1 > ._check_1xyie_1 {
  position: absolute;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  color: transparent;
}
._checkbox_1xyie_1 > label {
  margin-left: 5px;
}
._ckbgrp_1xyie_29 {
  display: inline-block;
}
.kf-checkbox {
  margin: 6px 0;
}
.kf-checkbox > input:checked + i {
  color: #34495e;
}
.kf-checkbox > span {
  color: #bdc3c7;
}
.kf-checkbox > input {
  width: 14px;
  height: 14px;
}
.kf-checkbox > i {
  font-size: 14px;
}
.kf-checkbox > span {
  font-size: 16px;
}
.kf-checkbox > label {
  font-size: 14px;
}
.kf-checkbox.kf-primary > input:checked + i {
  color: #3c8dbc;
}
.kf-checkbox.kf-primary > span {
  color: #bdc3c7;
}
.kf-checkbox.kf-accent > input:checked + i {
  color: #e74c3c;
}
.kf-checkbox.kf-accent > span {
  color: #bdc3c7;
}
.kf-checkbox.kf-gray > input:checked + i {
  color: #bdc3c7;
}
.kf-checkbox.kf-gray > span {
  color: #bdc3c7;
}
.kf-checkbox.kf-dark > input:checked + i {
  color: #34495e;
}
.kf-checkbox.kf-dark > span {
  color: #bdc3c7;
}
.kf-checkbox.kf-light > input:checked + i {
  color: #ecf0f1;
}
.kf-checkbox.kf-light > span {
  color: #bdc3c7;
}
.kf-checkbox.kf-xs {
  margin: 3px 0;
}
.kf-checkbox.kf-xs > input {
  width: 12px;
  height: 12px;
}
.kf-checkbox.kf-xs > i {
  font-size: 12px;
}
.kf-checkbox.kf-xs > span {
  font-size: 14px;
}
.kf-checkbox.kf-xs > label {
  font-size: 12px;
}
.kf-checkbox.kf-sm {
  margin: 5px 0;
}
.kf-checkbox.kf-sm > input {
  width: 12px;
  height: 12px;
}
.kf-checkbox.kf-sm > i {
  font-size: 12px;
}
.kf-checkbox.kf-sm > span {
  font-size: 14px;
}
.kf-checkbox.kf-sm > label {
  font-size: 12px;
}
.kf-checkbox.kf-md {
  margin: 6px 0;
}
.kf-checkbox.kf-md > input {
  width: 14px;
  height: 14px;
}
.kf-checkbox.kf-md > i {
  font-size: 14px;
}
.kf-checkbox.kf-md > span {
  font-size: 16px;
}
.kf-checkbox.kf-md > label {
  font-size: 14px;
}
.kf-checkbox.kf-lg {
  margin: 10px 0;
}
.kf-checkbox.kf-lg > input {
  width: 16px;
  height: 16px;
}
.kf-checkbox.kf-lg > i {
  font-size: 16px;
}
.kf-checkbox.kf-lg > span {
  font-size: 18px;
}
.kf-checkbox.kf-lg > label {
  font-size: 16px;
}
.kf-checkbox-group > span > input:checked + i {
  color: #34495e;
}
.kf-checkbox-group > span > span {
  color: #bdc3c7;
}
.kf-checkbox-group > span {
  margin: 6px 0;
}
.kf-checkbox-group > span > input {
  width: 14px;
  height: 14px;
}
.kf-checkbox-group > span > i {
  font-size: 14px;
}
.kf-checkbox-group > span > span {
  font-size: 16px;
}
.kf-checkbox-group > span > label {
  font-size: 14px;
}
.kf-checkbox-group > span:not(:last-child) {
  margin-right: 12px;
}
.kf-checkbox-group.kf-primary > span > input:checked + i {
  color: #3c8dbc;
}
.kf-checkbox-group.kf-primary > span > span {
  color: #bdc3c7;
}
.kf-checkbox-group.kf-accent > span > input:checked + i {
  color: #e74c3c;
}
.kf-checkbox-group.kf-accent > span > span {
  color: #bdc3c7;
}
.kf-checkbox-group.kf-gray > span > input:checked + i {
  color: #bdc3c7;
}
.kf-checkbox-group.kf-gray > span > span {
  color: #bdc3c7;
}
.kf-checkbox-group.kf-dark > span > input:checked + i {
  color: #34495e;
}
.kf-checkbox-group.kf-dark > span > span {
  color: #bdc3c7;
}
.kf-checkbox-group.kf-light > span > input:checked + i {
  color: #ecf0f1;
}
.kf-checkbox-group.kf-light > span > span {
  color: #bdc3c7;
}
.kf-checkbox-group.kf-xs > span {
  margin: 3px 0;
}
.kf-checkbox-group.kf-xs > span > input {
  width: 12px;
  height: 12px;
}
.kf-checkbox-group.kf-xs > span > i {
  font-size: 12px;
}
.kf-checkbox-group.kf-xs > span > span {
  font-size: 14px;
}
.kf-checkbox-group.kf-xs > span > label {
  font-size: 12px;
}
.kf-checkbox-group.kf-xs > span:not(:last-child) {
  margin-right: 5px;
}
.kf-checkbox-group.kf-sm > span {
  margin: 5px 0;
}
.kf-checkbox-group.kf-sm > span > input {
  width: 12px;
  height: 12px;
}
.kf-checkbox-group.kf-sm > span > i {
  font-size: 12px;
}
.kf-checkbox-group.kf-sm > span > span {
  font-size: 14px;
}
.kf-checkbox-group.kf-sm > span > label {
  font-size: 12px;
}
.kf-checkbox-group.kf-sm > span:not(:last-child) {
  margin-right: 10px;
}
.kf-checkbox-group.kf-md > span {
  margin: 6px 0;
}
.kf-checkbox-group.kf-md > span > input {
  width: 14px;
  height: 14px;
}
.kf-checkbox-group.kf-md > span > i {
  font-size: 14px;
}
.kf-checkbox-group.kf-md > span > span {
  font-size: 16px;
}
.kf-checkbox-group.kf-md > span > label {
  font-size: 14px;
}
.kf-checkbox-group.kf-md > span:not(:last-child) {
  margin-right: 12px;
}
.kf-checkbox-group.kf-lg > span {
  margin: 10px 0;
}
.kf-checkbox-group.kf-lg > span > input {
  width: 16px;
  height: 16px;
}
.kf-checkbox-group.kf-lg > span > i {
  font-size: 16px;
}
.kf-checkbox-group.kf-lg > span > span {
  font-size: 18px;
}
.kf-checkbox-group.kf-lg > span > label {
  font-size: 16px;
}
.kf-checkbox-group.kf-lg > span:not(:last-child) {
  margin-right: 16px;
}
