._modal_rfq8r_1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 2017;
  visibility: hidden;
  background-color: transparent;
  overflow-y: auto;
  -webkit-transition: visibility 0.5s ease, background-color 0.5s ease;
  transition: visibility 0.5s ease, background-color 0.5s ease;
}
._modal_rfq8r_1 > ._center_rfq8r_13 {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  opacity: 0;
  -webkit-transition: top .5s ease, opacity .5s ease;
  transition: top .5s ease, opacity .5s ease;
}
._modal_rfq8r_1 > ._center_rfq8r_13 > header {
  border-bottom: 1px solid #bdc3c7;
}
._modal_rfq8r_1 > ._center_rfq8r_13 > footer {
  border-top: 1px solid #bdc3c7;
}
._modal_rfq8r_1._open_rfq8r_28 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.3);
}
._modal_rfq8r_1._open_rfq8r_28 > ._center_rfq8r_13 {
  top: 10%;
  opacity: 1;
}
.kf-modal > div {
  border-radius: 6px;
}
.kf-modal > div > header:not(:empty),
.kf-modal > div > main:not(:empty),
.kf-modal > div > footer:not(:empty) {
  padding: 6px 12px;
}
.kf-modal > div > header:not(:empty) {
  padding: 10px 16px;
}
