._tabs_15tck_1 > ul > li {
  cursor: pointer;
  white-space: nowrap;
  background-color: white;
}
._tabs_15tck_1 > ul > li[kf-tab-active] {
  position: relative;
}
.kf-tab-horizontal > ul {
  border-right: none !important;
}
.kf-tab-horizontal > ul > li {
  display: inline-block;
}
.kf-tab-horizontal > ul > li[kf-tab-active] {
  border-bottom: white !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  top: 1px;
}
.kf-tab-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.kf-tab-vertical > ul {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  border-bottom: none !important;
}
.kf-tab-vertical > ul > li[kf-tab-active] {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  left: 1px;
}
.kf-tab-vertical > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.kf-tab-primary > ul {
  background-color: white;
  border-bottom: 1px solid #1abc9c;
  border-right: 1px solid #1abc9c;
}
.kf-tab-primary > ul > li[kf-tab-active] {
  border: 1px solid #1abc9c;
}
.kf-tab-green > ul {
  background-color: white;
  border-bottom: 1px solid #2ecc71;
  border-right: 1px solid #2ecc71;
}
.kf-tab-green > ul > li[kf-tab-active] {
  border: 1px solid #2ecc71;
}
.kf-tab-blue > ul {
  background-color: white;
  border-bottom: 1px solid #3498db;
  border-right: 1px solid #3498db;
}
.kf-tab-blue > ul > li[kf-tab-active] {
  border: 1px solid #3498db;
}
.kf-tab-red > ul {
  background-color: white;
  border-bottom: 1px solid #e74c3c;
  border-right: 1px solid #e74c3c;
}
.kf-tab-red > ul > li[kf-tab-active] {
  border: 1px solid #e74c3c;
}
.kf-tab-yellow > ul {
  background-color: white;
  border-bottom: 1px solid #f1c40f;
  border-right: 1px solid #f1c40f;
}
.kf-tab-yellow > ul > li[kf-tab-active] {
  border: 1px solid #f1c40f;
}
.kf-tab-purple > ul {
  background-color: white;
  border-bottom: 1px solid #9b59b6;
  border-right: 1px solid #9b59b6;
}
.kf-tab-purple > ul > li[kf-tab-active] {
  border: 1px solid #9b59b6;
}
.kf-tab-orange > ul {
  background-color: white;
  border-bottom: 1px solid #e67e22;
  border-right: 1px solid #e67e22;
}
.kf-tab-orange > ul > li[kf-tab-active] {
  border: 1px solid #e67e22;
}
.kf-tab-gray > ul {
  background-color: white;
  border-bottom: 1px solid #95a5a6;
  border-right: 1px solid #95a5a6;
}
.kf-tab-gray > ul > li[kf-tab-active] {
  border: 1px solid #95a5a6;
}
.kf-tab-dark > ul {
  background-color: white;
  border-bottom: 1px solid #34495e;
  border-right: 1px solid #34495e;
}
.kf-tab-dark > ul > li[kf-tab-active] {
  border: 1px solid #34495e;
}
.kf-tab-xs > ul > li {
  padding: 3px 5px;
  font-size: 12px;
}
.kf-tab-xs > ul > li[kf-tab-active] {
  border-radius: 3px;
}
.kf-tab-sm > ul > li {
  padding: 5px 10px;
  font-size: 12px;
}
.kf-tab-sm > ul > li[kf-tab-active] {
  border-radius: 3px;
}
.kf-tab-md > ul > li {
  padding: 6px 12px;
  font-size: 14px;
}
.kf-tab-md > ul > li[kf-tab-active] {
  border-radius: 4px;
}
.kf-tab-lg > ul > li {
  padding: 10px 16px;
  font-size: 16px;
}
.kf-tab-lg > ul > li[kf-tab-active] {
  border-radius: 6px;
}
