@import (reference) './module/base';
@import (reference) './module/menu/menu';
@import (reference) './module/form/checkbox/checkbox';
@import (reference) './module/form/radio/radio';
@import (reference) './module/form/select/select';
@import (reference) './module/tree/tree';
@import (reference) './module/slide/slide';

.kf-menu-item(menu, @dir, @pos) {
  font-size: 20px;
  color: white;
  background-color: @dwarm;
  width: 180px;
  height: 60px;
  line-height: 60px  ;
  padding-left: 15px;
  padding-right: 15px;

  &:hover {
    color: @lprimary;
  }

  & when (@dir = horizontal) and (not (@pos = last)) {
    border-right: 1px solid @lfail;
  }

  & when (@dir = vertical) and (not (@pos = last)) {
    border-bottom: 1px solid @lfail;
  }

  & when (@dir = horizontal) and (@pos = first) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  & when (@dir = horizontal) and (@pos = last) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  & when (@dir = vertical) and (@pos = first) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  & when (@dir = vertical) and (@pos = last) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.kf-select-item(select, @type) {
  & when (@type = common) {
    background-color: @lwarm;
    padding: 3px 6px;

    > div {
      color: white;
      width: 200px;
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      padding-left: 10px;
    }
  }

  & when (@type = top) {
    background-color: @lprimary;
    border-radius: 5px;
  }
  & when (@type = first) {
    padding-top: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  & when (@type = last) {
    padding-bottom: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  & > div when (@type = selected) {
    background-color: @lprimary;
  }
  & > div when (@type = hover) {
    background-color: @lprimary;
  }
}

.kf-tree-item(default, @type) {
  & when (@type = common) {
  }

  & when (@type = dragover) {
    border: 1px solid red;
  }

  & when (@type = dragging) {
    border: 1px solid blue;
    background-color: @dgray;
    &:hover {
      cursor: pointer;
    }
  }
}

:global {
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    padding: 10px;
  }

  .menu {
    @media (max-width: 600px) {
      .kf-menu(menu, vertical, left, 5px, @dwarm);
    }
    @media (min-width: 600px) {
      .kf-menu(menu, horizontal, left, 5px, @dwarm);
    }
  }
  .ttable {
    tr > td:first-child .fa {
      margin-right: 5px;
    }
  }

  .checkbox {
    .kf-checkbox(default, 14px, @lwarm, @lprimary, @dgray);
  }

  .checkbox-group {
    width: 100%;
    .kf-checkbox-group(default, 14px, @lwarm, @lprimary, @dgray, 30%);
  }

  .radio-group {
    width: 100%;
    .kf-radio-group(default, 15px, @lprimary, @dgray, 100%);
  }

  .select {
    .kf-select(select, 6px, white, 6px, @lwarm);
  }

  .tree {
    .kf-tree-size(20px, 14px, 10px, 5px);
    .kf-tree-color(@dgray, white);
    .kf-tree-title(default);
  }
}
